<h1 class="app-name"></h1>

<div class="scrollable">

  <h1 class="scrollable-header app-name">SAG-1 Menu</h1>

  <div class="scrollable-content">

    <div class="list-group">
      <section>
        <a class="list-group-item" href="#/"
          ui-turn-off="uiSidebarLeft">
          Home 
          <i class="fa fa-chevron-right pull-right"></i></a>
      </section>

      <a class="list-group-item"
        ng-model="members"
        ng-click="members=!members"
        ui-turn-off="uiSidebarLeft"
        href="#/members">Members
          <i class="fa fa-chevron-right pull-right"></i></a>
      </a>

      <section>
        <a class="list-group-item" ng-model="training"
          ng-click="training=!training">Training
          <i ng-class="{'fa fa-plus-square pull-right' : !training, 
            'fa fa-minus-square pull-right': training}"></i>
        </a>
        <a class="list-group-item"
          ng-show="training"
          ng-click="training=!training"
          ui-turn-off="uiSidebarLeft"
          href="#/training" style="padding-left: 30px;">New Training
          <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a class="list-group-item"
          ng-show="training"
          ng-click="training=!training"
          ui-turn-off="uiSidebarLeft"
          href="" style="padding-left: 30px;">Edit Training
          <i class="fa fa-chevron-right pull-right"></i>
        </a>
        <a class="list-group-item"
          ng-show="training"
          ng-click="training=!training"
          ui-turn-off="uiSidebarLeft"
          href="" style="padding-left: 30px;">Delete Training
          <i class="fa fa-chevron-right pull-right"></i>
        </a>
      </section>
      <section>
        <a class="list-group-item" href=""
          ui-turn-off="uiSidebarLeft">
          Settings
          <i class="fa fa-chevron-right pull-right"></i></a>
      </section>
      <section>
        <a class="list-group-item" href=""
          ui-turn-off="uiSidebarLeft">
          About
          <i class="fa fa-chevron-right pull-right"></i></a>
      </section>


    </div>

  </div>
</div>
